apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: wanderlust
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: 
        image: trainwithshubham/wanderlust-backend-beta:v2.1
        ports:
        - containerPort: 8080

---

apiVersion: v1
kind: Service
metadata:
  namespace: wanderlust
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 32000
      targetPort: 8080

