apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: wanderlust
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: 
          image:  trainwithshubham/wanderlust-frontend-beta:v2.2
          ports:
            - containerPort: 5173

---

apiVersion: v1
kind: Service
metadata:
  namespace: wanderlust
  name: frontend-service
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173
      NodePort: 31000
