apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wanderlust-ingress
  namespace: wanderlust
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /wanderlust
        pathType: Prefix
        backend:
          service:
            name: frontend-service
            port:
              number: 80
