apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-pv-0
  labels:
    pv: mongo-pv-0
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /mnt/data/mongodb
  